/* Общие стили для страницы */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #ffebcd; /* Цвет фона */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стиль для хомяка */
#hamster {
    position: absolute;
    width: 150px;
    height: auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Hamster_transparent.png/600px-Hamster_transparent.png'); /* Ссылка на хомяка */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}
