/* Общие стили для страницы */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #ffebcd; /* Цвет фона */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стиль для хомяка */
#hamster {
    position: absolute;
    width: 96px;
    height: 96px;
    background-image: url('hamster.png'); /* Картинка хомяка */
    background-size: contain;
    background-repeat: no-repeat;
}
